
button img {
  transform: rotate(-45deg);
}

button {
  transition: all 0.3s ease;
}

.shape-selector {
  @apply rounded-md;
  @apply mx-4;
  @apply px-4;
  @apply py-2;

}

.shape-selector.red {
  @apply bg-red-600;
}

.red small {
  @apply text-white;
}

.red img {
  filter: invert(1)
}

button small {
  @apply text-black;
}