@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Red Hat Display', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (min-width: 600px)  {
  #app-container {
    max-width: 800px;
    margin: 0 auto;
  }
}

body {
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.progress-wheel {
  width: 24px;
  height: 24px;
  border: 4px solid #ccc;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
