
.waiting {
  position: relative;
  height: 30vh;
}

.float {
  animation-name: float;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  filter: invert(1);

  width: 64px;
  transform-origin: 32px 32px;
  position: absolute;
  top: 17.5vh;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
}

.float.rock {
  animation-delay: 0s;
}

.float.scissors {
  animation-delay: -1s;
}

.float.paper {
  animation-delay: -2s;
}

@keyframes float {
  from {
    transform: rotate(0deg) translate(150px);
  }
  to {
    transform: rotate(360deg) translate(150px);
  }
}